@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

html {
  box-sizing: border-box;

  --fontFamily: "Montserrat", sans-serif;
  --black: hsl(0, 0%, 16%); 
  --gray: hsl(0, 0%, 44%);
  --lightGray: hsl(0, 0%, 91%);
  --green: hsl(142, 79%, 40%);
}

body {
  box-sizing: inherit;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.button {
  padding: .8rem;
  background-color: white;
  border: 1px solid var(--gray);
  border-radius: .5rem;
  font-family: var(--fontFamily);
  font-weight: 600;
  cursor: pointer;
  transition: .2s ease-out;
}

.button:hover {
  color: white;
  background-color: var(--black);
}

.button--full {
  width: 100%;
}

/* .quantity__selection {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid var(--gray);
  border-right: none;
  font-family: var(--fontFamily);
  cursor: pointer;
}

.quantity__selection:last-child {
  border-right: 1px solid var(--gray);
}

.quantity__selection--number {
  font-size: .88rem;
  cursor: default;
} */

.quantity__input {
  font-family: var(--fontFamily);
  font-size: .9rem;
  color: var(--black);
  outline: none;
  border: 1px solid var(--lightGray);
  width: 50px;
  padding: .5rem;
}

.container {
  padding: 2rem 1.5rem;
  min-height: calc(100vh - 93px);
}

.grid {
  display: grid;
  grid-gap: 4rem;
  margin: 4rem 0;
}

.grid--catalog {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.flex {
  display: flex;
}

.flex--search-filter {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.flex--sb-c {
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 768px) {
  .grid {
    grid-gap: 2rem;
  }

  .grid--product-page {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .header, .container {
    padding: 2rem 4rem;
  }

  .grid--product-page {
    padding: 0 5rem
  }
}