.pagination {
    display: flex;
    list-style: none;
    padding: 0;
}

.pagination__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    border: 1px solid var(--gray);
    border-right: none;
    margin: 0;
    font-family: var(--fontFamily);
    cursor: pointer;
    transition: .2s ease-out;
}

.pagination__item:hover, .pagination__item--active {
    background-color: var(--black);
    color: white;
}

.pagination__item:last-child {
    border-right: 1px solid var(--gray);
}